fastapi
uvicorn
python-multipart
python-dotenv
langchain
langchain-google-genai
langchain-community
faiss-cpu
pypdf
ragas
datasets
langsmith
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
httpx
google-generativeai
google-genai
instructor[google-genai]
